body {
    font-family: 'Indie Flower', cursive;
    color: #ffe66e
}

h1, h2, h3 {
    font-family: "Indie Flower", cursive;
}

h2 {
    color: #ffe66e;
}

header h2 {
    color: #ffe66e;
}

footer {
    background-image: linear-gradient(#cf1017, #cf1017);
    padding: 20px 0;
    color: #ffeb94;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    color: #ffe66e;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.navbar {
    background-color: #cf1017;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #d4af37;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.nav-link {
    font-size: 1.5rem;
}

#categories {
    height: 120px
}
  
#categories img {
    width: 100px;
    height: 100px;
  }

.fa-sign-in {
    font-size: 1.5rem;
}

nav {
    width: 100%;
}

#scrollinfood {
    position: relative;
  }

.link-padding {
    padding-top: 70px;
    margin-top: -70px;
    margin-bottom: 70px;
}

#certifiedpig {
    width: 200px;
    height: auto;

}

#ffd {
    max-height: 70 px;
}

#bestsiomai {
    width: 200px;
    height: auto;
}

li {
    font-size:larger;
}

.zoom {
    transition: transform .2s; /* Animation */
    width: 350px;
    height: 325px;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.15); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#carouselrow1 {
    background-image: url("img/logo.jpg");

}

#cardrows {
    background-image: linear-gradient(to right, gold, gold, gold);

}