body {
    font-family: 'Indie Flower', cursive;
    color: #D4AF37
}

h1, h2, h3 {
    font-family: "Indie Flower", cursive;
}

h2 {
    color: #D4AF37;
}

header h2 {
    color: #D4AF37;
}

footer {
    background-image: linear-gradient(#ff2626, #ea4c46);
    padding: 20px 0;
    color: #d4af37;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to right, #ffffff, #ffffff, #ffffff);
    color: #d4af37;
}

.row-content {
    padding: 50px 0;
    min-height: 200px;
}

.navbar {
    background-image: linear-gradient(to right, #ea4c46, #ff2626, #ff0000);
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #d4af37;
}

#carouselButton {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.nav-link {
    font-size: 1.5rem;
}

#categories {
    height: 120px
}
  
#categories img {
    width: 100px;
    height: 100px;
  }

.fa-sign-in {
    font-size: 1.5rem;
}

nav {
    width: 100%;
}